{% extends "scitex_ui/standalone_shell.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet"
          crossorigin
          href="{% static 'figrecipe/assets/index-iCMbu15C.css' %}">
{% endblock %}
{% block app_content %}
    <div id="app-mount"
         data-embedded="true"
         data-working-dir="{{ working_dir|default:'' }}"
         data-app-name="figrecipe"></div>
{% endblock %}
{% block extra_js %}
    <script type="module"
            crossorigin
            src="{% static 'figrecipe/assets/index-D7eWQuvr.js' %}"></script>
{% endblock %}
